.post-content {
  @apply leading-medium;

  h1,
  h2,
  h3 {
    @apply mt-10;
  }

  ul {
    @apply my-5;

    & > li {
      position: relative;
      padding-left: 1.75em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      &:before {
        content: "";
        position: absolute;
        background-color: #cbd5e0;
        border-radius: 50%;
        width: 0.375em;
        height: 0.375em;
        top: calc(0.875em - 0.1875em);
        left: 0.25em;
      }
    }
  }

  blockquote {
    font-weight: 500;
    font-style: italic;
    color: #1a202c;
    border-left-width: 0.25rem;
    border-left-color: #e2e8f0;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
  }

  pre {
    border-radius: 0.375rem;
    font-size: 0.875em;
  }

  a {
    @apply relative text-black font-semibold;

    &:after {
      @apply bg-indigo-100;
      content: "";
      z-index: -1;
      position: absolute 70% -0.1px 0 -0.1px;
      transition: top 175ms ease-in-out;
    }

    &:hover {
      @apply no-underline;

      &:after {
        @apply top-0;
      }
    }
  }

  img {
    @apply max-w-full bg-white;
  }
}

.gatsby-resp-image-figcaption {
  @apply block mt-2 italic text-gray-700 text-center;
}

table {
  @apply w-full mb-4 border;

  border-collapse: collapse;

  td,
  th {
    @apply align-top border p-1;
  }

  thead {
    th {
      @apply border-b-2 align-bottom text-left;
    }
  }

  tbody {
    tr:nth-of-type(odd) {
      @apply bg-gray-200;
    }
  }
}

kbd {
  @apply text-white rounded text-sm py-1 px-2 bg-black;
}

p > code {
  @apply p-2px text-orange-500 bg-orange-100 rounded;
}

pre {
  @apply my-4 overflow-x-scroll py-2 px-4;

  & > code {
    @apply px-0 border-none;
  }
}

.gatsby-image-wrapper {
  height: 100%;
}

.gatsby-image-wrapper.rounded-full img {
  @apply rounded-full;
}

.hobby-icon {
  size: 1.25em!important;
}
